/* para todo o documento... */
:root {
  /* muda o tipo de letra para sem serifas (sem perninhas) */
  font-family: sans-serif;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
}

:focus {
  outline: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  background-color: #4DA7FF;
  width: 100vw;
  height: 100vw;
}

.logo {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.score {
  position: absolute;
  top: 32px;
  left: 32px;
}

#materials {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#materials button {
  padding: 15px;
  border: 2px outset;
}

#materials button:not(:last-child) {
  margin-right: 10px;
}

#inventory {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 180px;
  background: #9a9a9a;
}

#inventory [role=tab] {
  background-color: #9a9a9a;
  padding: 5px;
  border: 2px outset rgb(208, 208, 208);
  border-radius: 2px 2px 0 0;
}

#inventory [role=tab]:nth-child(n + 7) {
  margin-top: 150px;
}

#inventory [role=tab] i {
  display: block;
  background-image: url(images/sprite.png);
  background-size: 512px auto;
  height: 16px;
  width: 16px;
  pointer-events: none;
}

#inventory [role=tab][aria-selected=true] {
  background-color: rgb(201, 201, 201);
}